body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background: $white-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
